*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#111;
color:#fff;
}

.hero{
height:90vh;
background: url("Diques.JPG") center center/cover;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
position:relative;
}

.overlay{
background:rgba(0,0,0,.65);
padding:40px;
border-radius:15px;
}

h1{
font-size:48px;
color:#d4af37;
margin-bottom:10px;
}

p{
font-size:20px;
margin-bottom:20px;
}

.buttons{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
}

.gold-btn,
.dark-btn{
padding:15px 30px;
text-decoration:none;
border-radius:8px;
font-weight:bold;
transition:.3s;
}

.gold-btn{
background:#d4af37;
color:#111;
}

.gold-btn:hover{
background:#f5d76e;
}

.dark-btn{
background:#222;
color:white;
border:1px solid #d4af37;
}

.dark-btn:hover{
background:#333;
}

.services{
padding:70px 20px;
text-align:center;
}

.services h2{
font-size:38px;
color:#d4af37;
margin-bottom:30px;
}

.service-box{
background:#1c1c1c;
padding:25px;
margin:15px auto;
max-width:350px;
border-radius:10px;
border:1px solid #333;
}
.gallery{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
}

.gallery h2{
    width:100%;
    text-align:center;
    color:#d4af37;
    font-size:42px;
    margin-bottom:30px;
}
    
.gallery img{
    width:100%;
    max-width:700px;
    height:500px;
    object-fit:cover;
    border-radius:20px;
    display:none;
}

.gallery img.active{
    display:block;
}
    
    



.contact{
padding:70px 20px;
text-align:center;
}

.contact a{
color:#d4af37;
text-decoration:none;
font-weight:bold;
}

footer{
    padding:30px;
    text-align:center;
    background:#000;
    margin-top:40px;
}
    
.reviews{
    padding:80px 20px;
    background:#111;
    text-align:center;
}

.reviews h2{
    color:#d4af37;
    font-size:42px;
    margin-bottom:40px;
}

.review-card{
    max-width:700px;
    margin:25px auto;
    padding:25px;
    border-radius:18px;
    background:#1b1b1b;
    color:white;
    box-shadow:0 0 20px rgba(212,175,55,.15);
}

.review-card p{
    font-size:18px;
    line-height:1.6;
}

.review-card h4{
    color:#d4af37;
    margin-top:15px;
}

.map-btn:hover{
    background:#f0c94d;
    transform:scale(1.05);
}
.map-btn{
    display:flex;
    justify-content:center;
    align-items:center;
    width:280px;
    height:60px;
    margin:20px auto;
    background:#d4af37;
    color:#000 !important;
    font-size:20px;
    font-weight:700;
    text-decoration:none;
    border-radius:12px;
}
    
    

.map-btn:hover{
    background:#f0c94d;
    transform:scale(1.05);
}
.whatsapp-float{
    position:fixed;
    bottom:20px;
    right:20px;
    width:60px;
    height:60px;
    background:#25D366;
    color:#fff;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    text-decoration:none;
    box-shadow:0 4px 12px rgba(0,0,0,.3);
    z-index:9999;
}
